<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HoslinkSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.186.8.98:8023/hoslinkws/services/Hoslink"
                binding="basicHttpBinding" bindingConfiguration="HoslinkSoapBinding"
                contract="ServiceReference1.Hoslink" name="Hoslink" />
        </client>
    </system.serviceModel>
</configuration>