<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="rdlcPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>

  <userSettings>
    <rdlcPrint.Properties.Settings>
      <setting name="BillPrinter1" serializeAs="String">
        <value>EPSON TM-T81 ReceiptSC4</value>
      </setting>
      <setting name="LogUrl" serializeAs="String">
        <value>https://log.xyhosp.cn/gelf</value>
      </setting>
      <setting name="RecipePrinter" serializeAs="String">
        <value>Epson LQ-1600K</value>
      </setting>
      <setting name="BillPrinter" serializeAs="String">
        <value>EPSON TM-T81 ReceiptSC4</value>
      </setting>
      <setting name="URL" serializeAs="String">
        <value>http://localhost:30000/</value>
      </setting>
      <setting name="WebApiUrl" serializeAs="String">
        <value>http://192.168.8.241:21000/</value>
      </setting>
      <setting name="HisWebApiUrl" serializeAs="String">
        <value>http://192.168.8.241:21000/</value>
      </setting>
    </rdlcPrint.Properties.Settings>
  </userSettings>
</configuration>
